@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px; /* navbar height */
}

.input-field {
  @apply w-full px-4 py-3 rounded-lg border border-white/10 bg-white/[0.05] text-white placeholder-white/40 outline-none focus:border-purple-400 transition;
}

.icon-btn {
  @apply w-12 h-12 flex items-center justify-center rounded-xl bg-white/[0.05] border border-white/10 text-white text-xl hover:scale-110 hover:shadow-[0_0_20px_rgba(168,85,247,0.4)] transition;
}
